<main>
  <video autoplay [muted]="'muted'" loop poster="assets/image/cache.jpg">
    <source src="assets/video/cache.mp4" type="video/mp4">
  </video>

  <div id="portrait-warning">
    <h1>This site only works with landscape orientation!</h1>

    <img src="assets/image/rotate-icon.svg" alt="rotate-icon">
  </div>

  <div id="scoreboard">
    <header>
      <div class="headerTop">
        <div class="headerLeft">
          <img src="assets/image/competitive-icon.webp" alt="competitive-icon">

          <h1>
            Competitive | Cache
          </h1>
        </div>

        <div class="headerRight">
          <h1 id="timerDisplay">
            0:00
          </h1>
        </div>
      </div>

      <div class="headerBottom">
        <div class="headerLeft">
          <img src="assets/image/music_kit-icon.webp" alt="music_kit-icon">

          <p>
            CS:GO
          </p>
        </div>

        <div class="headerRight">
          <p>
            Server: dudushy
          </p>
        </div>
      </div>
    </header>
  </div>
</main>
