@import "/src/styles.scss";

:host {
  position: relative;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
}

#portrait-warning {
  display: none;
  z-index: 99;

  @media (orientation: portrait) {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $danger;
    color: $light;

    h1 {
      font-size: calc(var(--responsiveUnit) * 2);
      margin: 0;
      padding: 0;
    }

    img {
      width: calc(var(--responsiveUnit) * 8);
      height: auto;
      margin: 10%;
      filter: invert(1);
    }
  }
}

#scoreboard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 67%;
  height: 53%;
  background: transparentize($color: #000000, $amount: 0.5);
  backdrop-filter: blur(25px);
  color: lighten($csgo-light, 30%);
  padding-block: 1.5%;
  padding-inline: 1%;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;

    img {
      width: calc(var(--responsiveUnit) * 2.5);
      height: auto;
      margin-right: 0.5%;
    }

    h1 {
      margin: 0;
      padding: 0;
      font-size: calc(var(--responsiveUnit) * 1);
    }

    #headerLeft {
      display: flex;
      align-items: center;
      width: 90%;
    }

    #headerRight {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 10%;
    }
  }
}
